name: Decompile

on: workflow_dispatch

jobs:
  decompile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Get JADX
        uses: dawidd6/action-download-artifact@v12
        with:
          repo: skylot/jadx
          branch: master
          workflow: build-artifacts.yml
          name: (?<!win)$
          name_is_regexp: true

      - name: Decompile
        run: |
          discord=$(curl -sSL --remote-name --write-out "%{filename_effective}" "https://maven.aliucord.com/releases/com/discord/discord/126021/discord-126021.apk")

          rm -rf decompiled 2>/dev/null || true
          sh */bin/jadx \
            --export-gradle \
            --show-bad-code \
            --fs-case-sensitive \
            --respect-bytecode-access-modifiers \
            --no-inline-methods \
            --no-inline-anonymous \
            --no-inline-kotlin-lambda \
            --use-source-name-as-class-name-alias if-better \
            --deobf \
            --output-dir decompiled \
            "$discord" \
            || true

      - name: Remove Metadata Annotations
        run: find . -type f -name "*.java" -exec sed -i '/@kotlin.Metadata(/d; /@Metadata(/d; /import kotlin.Metadata/d' {} +

      - name: Commit and Push
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git add -- decompiled
          git commit -m "#$GITHUB_RUN_NUMBER"
          git push

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: decompiled
          path: decompiled
